.weather-app {
    max-width: 600px;
    margin: 40px auto;
    padding: 10px;
    border: 1px solid #b4b4b4 ;
    border-radius: 20px;
    
}

.weather-app-wrapper {
    max-width: 600px;
    margin: 40px auto;
}


.iconTemp {

    
   


}

h1 {
    text-align: center;
    font-family: "Montserrat",sans-serif ;
}



h2 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    padding: 10px;
    
}
h2 strong {
    font-size: 1.2em;
}
h2 small {
    font-size: medium;
    text-decoration: none;
    
}
.fahrenheit {
    text-decoration: none;
    color: #8064e9;
}
.description {
    text-transform: capitalize;
}

p {
    font-family: "Montserrat", sans-serif;
    color: gray;
    
}

.col {
    font-family: "Montserrat", sans-serif;
    padding: 10px;
}

h6 {
    font-family: "Montserrat", sans-serif;
    color: gray;
    text-align: center;
}
.openSource {
        font-family: "Montserrat",
        sans-serif;
        color: gray;
}
.sourceLink {
    color:#8064e9 ;
    text-decoration: none
}
